/* Add some custom CSS here */
.bg--blue {
  background-color: #a1d9f7;
}

.animate {
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.animate--fade-in {
  animation-name: fade-in;
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
